* {
  padding: 0px;
  margin: 0px;
  text-decoration: none;
}
.layout {
  height: 100vh;
  width: 100%;
  background-image: url(img/Wood.jpg);
  display: flex;
  flex-direction: column;
  align-items: center;
}
#pageHeader {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 60px;
  padding-block: 10px;
  background-color: rgba(14, 6, 20, 0.72);
}
#pageHeader h1 {
  color: red;
  text-transform: uppercase;
  font-family: 'Courier New', Courier, monospace;
  padding: 20px;
  background-color: rgba(22, 10, 1, 0.5);
}
#pageHeader h1 span {
  color: white;
}
#pageHeader button {
  padding: 12px;
  margin: 8px;
}
.wrapper {
  margin-block: 30px;
  width: 70%;
  height: auto;
  background-color: rgba(43, 29, 13, 0.72);
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
  padding: 32px;
}
.card {
  width: 150px;
  height: 200px;
  padding: 18px;
  color: white;
  border: 2px white solid;
  box-shadow: 2px 2px 5px black;
  display: flex;
  flex-direction: column;
  border-radius: 5%;
  background-color: #212121;
  transition: transform 0.2s;
}
.card header {
  flex-grow: 1;
}
.card header h3 {
  color: gray;
}
.card footer {
  display: flex;
  justify-content: space-between;
}
.card footer span {
  background-color: yellow;
  padding: 8px;
  color: black;
  border-radius: 15%;
}
.card:hover {
  background-color: #424242;
  transform: scale(1.2);
}
